<div id="examples">

  <div class="collection">

    <h3 class="collection-item showCursor" (click)="objShow.show1=!objShow.show1">Первая заглаваная буква</h3>
    <div *ngIf="objShow.show1">
      <li>Напишите функцию bigFirstSymbl(str), которая возвращает строку str с заглавным первым символом, например:
        <br>myMethod1("вася") == "Вася";
        <br>myMethod1("") == ""; // нет ошибок при пустой строке
        <br>
      </li>
      <div>
        <button class="btn btn-primary" (click)="bigFirstSymbol(strng.value)">Run task #1</button>
        <input class="form-control" placeholder="write a line here with a small letter" #strng>
        <div><b>Results:</b> {{resultStringWithSymbolUp}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show2=!objShow.show2">Массив длин слов</h3>
    <div *ngIf="objShow.show2">
      <li>Код ниже получает из массива строк новый массив, содержащий их длины:
        <p class="ex">
          &lt;var arr = ["Есть", "жизнь", "на", "Марсе"];&gt;<br/>
          &lt;var arrLength = [];&gt;<br/>
          &lt;for (var i = 0; i < arr.length; i++) &gt;<br/>
          &lt; arrLength[i] = arr[i].length; &gt;<br/>
          &lt;alert( arrLength ); // 4,5,2,5 &gt;<br/>
        </p>
        Перепешите выделенный участок: уберите цикл, используйте вместо него метод map
        <br>
      </li>
      <div>
        <button class="btn btn-primary" (click)="stringToNum(arrayOfStringsForCountSymbolsAmount)">Run task #2</button>
        <div><b>Results:</b> {{arrLengthOfEachString}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show3=!objShow.show3">Массив сумм рядомстоящих чисел</h3>
    <div *ngIf="objShow.show3">
      <li>На входе массив чисел, например: arr = [1,2,3,4,5].
        Напишите функцию getSums(arrTask3), которая возвращает массив его частичных сумм.
        Иначе говоря, вызов getSums(arrTask3) должен возвращать новый массив из такого же числа элементов, в котором на
        каждой позиции должна быть сумма элементов arr до этой позиции включительно.
        То есть:
        <p class="ex">
          &lt;для arr = [ 1, 2, 3, 4, 5 ]&gt;<br/>
          &lt;myMethod3( arr ) = [ 1, 1+2, 1+2+3, 1+2+3+4, 1+2+3+4+5 ] = [ 1, 3, 6, 10, 15 ]&gt;<br/>
        </p>
        Еще пример: myMethod3([-2,-1,0,1]) = [-2,-3,-3,-2].
        <br>
        Функция не должна модифицировать входной массив.
        В решении используйте метод arr.reduce.
      </li>
      <div>
        <button class="btn btn-primary" (click)="getSums(arrSumOfNumbers)">Run task #3</button>
        <div><b>Results:</b> {{arrayOfSums}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show4=!objShow.show4">АнтиСпам</h3>
    <div *ngIf="objShow.show4">
      <li>Напишите функцию checkSpam(str), которая возвращает true, если строка str содержит „AUDI“ или „BMW“, а иначе
        false.
        Функция должна быть нечувствительна к регистру:
      </li>
      <div>
        <button class="btn btn-primary" (click)="checkSpam(strng.value)">Run task #4</button>
        <input class="form-control" placeholder="write a string" #strng>
        <div><b>Results:</b> {{isSpamInMessage}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show5=!objShow.show5">Обрезание строки</h3>
    <div *ngIf="objShow.show5">
      <li>Создайте функцию truncate(str, maxlength), которая проверяет длину строки str, и если она превосходит
        maxlength
        –
        заменяет конец str на "...", так чтобы ее длина стала равна maxlength.
        Результатом функции должна быть (при необходимости) усечённая строка.
        <br>Например: ("Вот, что мне хотелось бы сказать на эту тему:", 20) = "Вот, что мне хоте...":
      </li>
      <div>
        <button class="btn btn-primary" (click)="truncate(strng2.value, strng1.value)">Run task #5</button>
        <input class="form-control" placeholder="put a number" #strng1>
        <input class="form-control" placeholder="write a string" #strng2>
        <div><b>Results:</b> {{strTruncateResult}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show6=!objShow.show6">Из строки в число</h3>
    <div *ngIf="objShow.show6">
      <li>Есть стоимость в виде строки: "$120". То есть, первым идёт знак валюты, а затем – число.
        Создайте функцию extractCurrencyValue(str), которая будет из такой строки выделять число-значение, в данном
        случае
        120.:
      </li>
      <div>
        <button class="btn btn-primary" (click)="extractCurrencyValue()">Run task #6</button>
        <div><b>Results:</b> {{extractCurrencyValuePrice}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show7=!objShow.show7">Определите, пуст ли объект</h3>
    <div *ngIf="objShow.show7">
      <li>Создайте функцию isEmpty(obj), которая возвращает true, если в объекте нет свойств и false – если хоть одно
        свойство есть.
        <p class="ex">
          &lt;public objct = test: 'test';&gt;<br/>
        </p>
      </li>
      <div>
        <button class="btn btn-primary" (click)="isEmpty(objectForTestingIsEmpty)">Run task #7(full prop)</button>
        <button class="btn btn-primary" (click)="isEmpty(salariesNull)">Run task #7(null prop)</button>
        <div><b>Results:</b> {{isObjectEmpty}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show8=!objShow.show8">Сумма свойств</h3>
    <div *ngIf="objShow.show8">
      <li> Есть объект salaries с зарплатами. Напишите код, который выведет сумму всех зарплат.
        Если объект пустой, то результат должен быть 0.
        <br>Например:
        salaries =
        "Vasya": 100,
        "Petya": 300,
        "Dasha": 250
      </li>
      <div>

        <!--<p>You selected: {{selected}}</p>-->
        <!--<select [(value)]="selected">-->
          <!--<option value="option1">1</option>-->
          <!--<option value="option2">2</option>-->
        <!--</select>-->
        <button class="btn btn-primary" (click)="salarySum(salariesFull)">Run task #8(full prop)</button>
        <button class="btn btn-primary" (click)="salarySum(salariesNull)">Run task #8(null prop)</button>
        <div><b>Results:</b> {{sumSalaries}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show9=!objShow.show9">Свойство с наибольшим значением
    </h3>
    <div *ngIf="objShow.show9">
      <li> Есть объект salaries с зарплатами. Напишите код, который выведет имя сотрудника, у которого самая большая
        зарплата.
        Если объект пустой, то пусть он выводит «нет сотрудников».
        <br>Например:
        salaries =
        "Vasya": 100,
        "Petya": 300,
        "Dasha": 250
      </li>
      <div>
        <button class="btn btn-primary" (click)="bigSalary(salariesFull)">Run task #9(full prop)</button>
        <button class="btn btn-primary" (click)="bigSalary(salariesNull)">Run task #9(null prop)</button>
        <div><b>Results:</b> {{nameEmployee}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show10=!objShow.show10">Умножьте численные свойства на
      2</h3>
    <div *ngIf="objShow.show10">
      <li>Создайте функцию multiplyNumeric, которая получает объект и умножает все численные свойства на 2.
        <br>Например:
        menu =
        width: 200,
        height: 300,
        title: "My menu"
      </li>
      <div>
        <button class="btn btn-primary" (click)="multiplyNumeric(menu)">Run task #10</button>
        <div><b>Results:</b> width: {{menu?.width}},<br> height: {{menu?.height}},<br> title: {{menu?.title}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show11=!objShow.show11">Добавить класс в строку</h3>
    <div *ngIf="objShow.show11">
      <li>В объекте есть свойство className, которое содержит список «классов» – слов, разделенных пробелом:
        <br>var obj =
        className: 'open menu'

        <br>Создайте функцию addClass(obj, cls), которая добавляет в список класс cls, но только если его там еще нет:
        <br>addClass(obj, 'new'); // obj.className='open menu new'
        <br>addClass(obj, 'open'); // без изменений (класс уже существует)
        <br>addClass(obj, 'me'); // obj.className='open menu new me'
        <br>alert( obj.className ); // "open menu new me"
        <br>P.S. Ваша функция не должна добавлять лишних пробелов.
      </li>
      <div>
        <button class="btn btn-primary" (click)="addClass(objectObservable, 'new')">Run task #11(with 'new')</button>
        <button class="btn btn-primary" (click)="addClass(objectObservable, 'open')">Run task #11(with 'open')</button>
        <button class="btn btn-primary" (click)="addClass(objectObservable, 'me')">Run task #11(with 'me')</button>
        <div><b>Results:</b> {{objectObservable.className}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show12=!objShow.show12">Перевести текст вида
      border-left-width в borderLeftWidth</h3>
    <div *ngIf="objShow.show12">
      <li>Напишите функцию camelize(str), которая преобразует строки вида «my-short-string» в «myShortString».
        То есть, дефисы удаляются, а все слова после них получают заглавную букву.
        <br>Например:
        <br>camelize("background-color") == 'backgroundColor';
        <br>camelize("list-style-image") == 'listStyleImage';
        <br>camelize("-webkit-transition") == 'WebkitTransition';
      </li>
      <div>
        <button class="btn btn-primary" (click)="camelize('my-short-string')">Run task #12</button>
        <div><b>Results:</b>{{str2}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show13=!objShow.show13">Функция removeClass</h3>
    <div *ngIf="objShow.show13">
      <li>У объекта есть свойство className, которое хранит список «классов» – слов, разделенных пробелами::
        <br>var obj = className: 'open menu';
        <br>Напишите функцию removeClass(obj, cls), которая удаляет класс cls, если он есть:
        <br>removeClass(obj, 'open'); // obj.className='menu'
        <br>removeClass(obj, 'blabla'); // без изменений (нет такого класса)
        <br>P.S. Дополнительное усложнение. Функция должна корректно обрабатывать дублирование класса в строке:
        <br>obj = className: 'open menu 1 open'
        <br>removeClass(obj, 'open');
        <br>alert( obj.className ); // 'menu 1'
        <br>Лишних пробелов после функции образовываться не должно.
      </li>
      <div>
        <button class="btn btn-primary" (click)="removeClass(objectObservable2, '2')">Run task #13</button>
        <div><b>Results:</b>{{objectObservable2.className}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show14=!objShow.show14">Фильтрация массива "на месте"
    </h3>
    <div *ngIf="objShow.show14">
      <li>Создайте функцию filterRangeInPlace(arr, a, b), которая получает массив с числами arr и удаляет из него все
        числа вне диапазона a..b. То есть, проверка имеет вид a ≤ arr[i] ≤ b. Функция должна менять сам массив и ничего
        не возвращать.
        <br>Например:
        <br>arr = [5, 3, 8, 1];
        <br>filterRangeInPlace(arr, 1, 4); // удалены числа вне диапазона 1..4
        <br>alert( arr ); // массив изменился: остались [3, 1]
      </li>
      <div>
        <button class="btn btn-primary" (click)="filterRangeInPlace(arrayNumberStart, 1, 4)">Run task #14</button>
        <div><b>Results:</b>{{arrayNumberEnd}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show15=!objShow.show15">Сортировать в обратном порядке</h3>
    <div *ngIf="objShow.show15">
      <li>Отсортировать массив чисел в обратном порядке [5, 2, 1, -10, 777]
      </li>
      <div>
        <button class="btn btn-primary" (click)="customSortReverse(arrayReverseStart)">Run task #15</button>
        <div><b>Results:</b>{{arrayReverseEnd}}</div>
      </div>
    </div>

    <h3 class="collection-item showCursor" (click)="objShow.show16=!objShow.show16">Скопировать и отсортировать
      массив</h3>
    <div *ngIf="objShow.show16">
      <li>Есть массив строк arr. Создайте массив arrSorted – из тех же элементов, но отсортированный.
        Исходный массив не должен меняться. [5, 2, 1, -10, 777] // -10,1,2,5,777
      </li>
      <div>
        <button class="btn btn-primary" (click)="createNewArray(arrayOld)">Run task #16</button>
        <div><b>Results:</b>{{arrayNew}}</div>
      </div>
    </div>


  </div>

</div>
