<!--<nav>-->
  <!--<div class="nav-wrapper">-->
    <!--<ul class="left hide-on-med-and-down">-->
      <!--<li><a routerLink="/compa"  routerLinkActive="activClassCSS">Pipes</a></li>-->
      <!--<li><a routerLink="/compforms"  routerLinkActive="activClassCSS">Forms</a></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/compa"  routerLinkActive="activClassCSS">Pipes</a></li>
      <li><a routerLink="/compforms"  routerLinkActive="activClassCSS">Forms</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
